<div class="title-box">
    <div class="triangle"></div>
    <div class="info-content">
      <div class="info-col">
        <span class="info-value">{{ teamName }}</span>
        <span class="info-value">{{ teamNameAcro }}</span>
      </div>
      <div class="info-col">
        <span class="info-value">Purpose:</span>
        <span class="info-value small-text">{{ purpose }}</span>
      </div>
      <div class="info-col">
        <span class="info-value">{{ leadership }}</span>
      </div>
    </div>
</div>