.title-box {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}
  
.triangle {
    width: 0;
    height: 0;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-right: 10px solid transparent;
    border-left: 10px solid gray;
    margin-right: 10px;
}

.info-content {
    flex-grow: 1;
    display: flex;
    flex-direction: row;
    background-color: #bbb1b1;
    border-radius: 5px;
    padding: 10px;
    padding-bottom: 20px;
}

.info-col {
    display: flex;
    flex-direction: column;
    flex: 1;
    padding: 15px;
}

.info-value {
    margin-top: auto;
    margin-bottom: auto;
    display: flex;
    align-items: center;
}
  
.small-text {
    font-size: 12px; /* Adjust the font size as needed */
}