.title-box {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}
  
.triangle {
    width: 0;
    height: 0;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-right: 10px solid transparent;
    border-left: 10px solid gray;
    margin-right: 10px;
}

.triangle.down {
    transform: rotate(90deg);
}

.info-content {
    flex-grow: 1;
    display: flex;
    flex-direction: row;
    background-color: #cccccc;
    border-radius: 5px;
    padding: 10px;
    padding-bottom: 20px;
}

.info-col {
    display: flex;
    flex-direction: column;
    flex: 1;
    padding: 15px;
}

.info-value {
    margin-top: auto;
    margin-bottom: auto;
    display: flex;
    align-items: center;
}
  
.small-text {
    font-size: 12px; /* Adjust the font size as needed */
}

.additional-content {
  margin-top: 10px;
  width: 100%;
}

.row {
  display: flex;
  justify-content: flex-start;
  margin-bottom: 10px;
  width: 100%;
}

.row app-item-box:first-child {
    margin-left: 0;
}

app-item-box {
    flex: 1 0 auto;
    margin-left: 10px;
}