.sidebar-container {
    background-color: #bdb2b2;
    padding: 10px;
    width: 100px; 
    border-radius: 10px;
}

.sidebar-list {
    list-style-type: none;
    padding: 0;
}

.sidebar-item {
    margin-bottom: 5px;
}

.sidebar-item:last-child {
    margin-bottom: 0;
}
  